body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* �� ������ section css */
section {
	width: 80%;
	margin-left: 10%;
	height: 100%;
}

section #mypage {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	margin-top: 20px;
}

section #mypage #mypage_con1 {
	width: 25%;
	height: 200px;
	margin-right: 10%;
	text-align: center;
}

section #mypage_con1 #name_text {
	border-bottom: 2px solid gray;
}

section #mypage #mypage_con2 {
	width: 65%;
	height: 100%;
}

section #mypage #mypage_con2 #res_info {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: scroll;
}

section #mypage #mypage_con2 #res_info table {
	margin-top: 30px;
}

section #mypage #mypage_con2 #res_info table thead th {
	text-align: center;
	background-color: rgb(255, 132, 132);
}

section #mypage #mypage_con2 #res_info table tbody td a {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabs li {
	background: none;
	color: rgb(97, 97, 97);
	padding: 10px 15px;
	cursor: pointer;
	font-size: 18px;
}

.tabs li.current {
	background-color: #bbd366cc;
}

.tab_content {
	display: none;
	border-top: 2px solid gray;
	background-color: #8688a6;
	padding: 15px;
}

.tab_content.current {
	display: inherit;
}