#postContainer01 {
    margin-left: 200px;
    margin-right: 200px;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

.postTop-board02 .postTop-list a{
    color: black;
    text-decoration: none;
}

#postMiddle {
    display: flex;
    flex-direction: column;
}
.postMiddle-board01 {
    vertical-align: bottom;
    border-top: 1px solid #7e7e7e;
    background-color: #f9f9f9;
    padding: 10px;
}
.postMiddle-board01 span {
    font-size: 20pt;
    padding-left: 3%;
}
.postMiddle-board02 {
    display: flex;
    justify-content: end;
}

.postMiddle-board02 img {
    padding: 10px;
}

#postBottom {
    display: flex;
    border-bottom: solid 1px lightgray;
    padding: 5%;
}

.postBottom-board {
    display: flex;
}

.postButton {
    text-align: center;
    padding: 10px;
}