/* header 시작 */
header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

/* header 로고 메뉴 로그인 통합 css */
header .menu {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: white;
}
header .menu .menu1 {
  width: 100%;
  height: 100%;
  display: flex;
}

/* header 로고 css */
header .menu .menu1 .logo {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0;
}
header .menu .menu1 .logo a {
  width: 100%;
  height: 100%;
}
header .menu .menu1 .logo a img {
  width: 100%;
  height: 100%;
}

/* header 메뉴 css */
header .menu .menu1 .menu_bar {
  display: flex;
  height: 60px;
  width: 100%;
  margin-left: 200px;
  margin-right: 240px;
  align-items: center;
  justify-content: space-evenly;
}
header .menu .menu1 .menu_bar li {
  list-style: none;
}
header .menu .menu1 .menu_bar li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

/* header 로그인 css */
header .login {
  width: 240px;
  height: 60px;
  position: absolute;
  right: 0;
  font-size: 16px;
}
header .login a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
header .login a img {
  width: 60px;
  height: 60px;
}
header .login #loginimg {
	position:absolute;
	left:0px;
	top: 5px;
}
header .login #loginimg span #my_name {
	position: absolute;
	left:70px;
	width: 93px;
	top:20px;
}
header .login #logout_button {
  padding: 2px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
header .login #logout_button:hover {
  border-color: gray;
  color: gray;
}
/* footer css */
footer {
  background-color: #E9D7B4;
  width: 100%;
  height: 250px;
  position: absolute;
  margin-top: 100px;
}
.FOOTER_TOTAL {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.FOOTER_TOTAL .F_i {
  text-align: center;
}
.F_i2,
.F_i3,
.F_i4,
.F_i2 p {
  padding-top: 15px;
}
.F_i #line {
  border-bottom: 3px solid;
}
