#post{
	margin: 60px 0;
}

#postContainer01 {
    margin-left: 200px;
    margin-right: 200px;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

.postTop-board02 .postTop-list a{
    color: black;
    text-decoration: none;
}

#postMiddle {
    display: flex;
    flex-direction: column;
}
.postTitle{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.postMiddle-board01 {
    vertical-align: bottom;
    border-top: 1px solid #7e7e7e;
    background-color: #f9f9f9;
    padding: 10px 5%;
}
.postMiddle-board01 span {
    font-size: 20pt;
    padding-left: 3%;
}
.postMiddle-board02 {
    float: right;
    display: flex;
}
.postMiddle-board02 img {
    padding: 10px;
    vertical-align: center;
}

#postBottom {
	height: fit-content;
    display: flex;
    border-bottom: solid 1px lightgray;
    padding: 5%;
}

.postBottom-board {
    display: flex;
}

.postButton {
    text-align: center;
    padding: 10px;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
}
textarea:focus  {
	outline: 0;
}