#post{
	width: 80%;
	display:flex;
	margin-left: 10%;
}

#postContainer01 {
    margin-left: 200px;
    margin-right: 200px;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top:10%;
}

.postTop-board02 .postTop-list a{
    color: black;
    text-decoration: none;
}

#postMiddle {
    display: flex;
    flex-direction: column;
}
.postTitle{
	display: flex;
	width: 100%;
}

.postTitle b{
	font-size:18px; 
	width:100px;
}

#list_button{
	text-decoration: none;
	font-size : 15px;
	width:120px;
	background-color : lightslategrey;
	padding: 7px;
	padding-left : 30px;
	padding-right : 30px;
	text-align : center;
	color:white;
}

#list_button:hover{
	background-color: #5c6b7a;
	color : white;
}

#n_noticetitle{
	width: 100%; 
	border: 1px solid #d0d0d0; 
	background-color: #f9f9f9; 
	font-size:18px;
	border-radius: 2px;
}

#n_noticetitle:focus{
	outline: none;
}
.postMiddle-board01 {
    vertical-align: bottom;
    padding: 10px 5%;
    background-color: #f9f9f9;
}
.postMiddle-board01 span {
    font-size: 20pt;
    padding-left: 3%;
}
.postMiddle-board02 {
    float: right;
    display: flex;
}

.postMiddle-board02 img {
    padding: 10px;
}

#postBottom {
	height: fit-content;
    display: flex;
    border-bottom: solid 1px lightgray;
    padding: 5%;
}

.postBottom-board {
    display: flex;
}

.postButton {
    text-align: center;
    padding: 20px;
}

#notice_write_button, #n_modify_button{
	font-size : 15px;
	border:none;
	width:120px;
	background-color : lightslategrey;
	padding: 7px;
	padding-left : 20px;
	padding-right : 20px;
	text-align : center;
	color:white;
}

#notice_write_button:hover, #n_modify_button:hover{
	background-color: #5c6b7a;
	color : white;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 2px;
    border: 1px solid #d0d0d0; 
    
}

textarea:focus {
	outline: none;
}