.qnaAno {
  width: 60%;
  margin-left: 20%;
  font-size: 15px;
  font-weight: bold;
}
.qnaAno .qnaAnotherTable {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
.qnaAno .qnaAnotherTable th {
  background-color: #fbe9e2;
  border: 1px solid black;
  width: 80px;
  text-align: center;
  height: 40px;
}
.qnaAno .qnaAnotherTable td {
  border: 1px solid black;
  text-align: center;
}

.qnaAno .qnaAnotherTable .td2 {
  border: 1px solid black;
  width: 300px;
  height: 40px;
}

#qnasub{
	border:none;
}

#qnasub:focus{
	outline: none;
}

.text{
	border:none;
	resize : none;
}

.text:focus{
	outline: none;
}
.but {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10%;
}
.subut {
 width:80px;
	background-color : #7a5849;
	border: none;
	padding: 5px;
	text-align : center;
	color:#ffece5;
	margin-left: 10px;
}
.canbut {
 width:80px;
	background-color : #7a5849;
	border: none;
	padding: 5px;
	text-align : center;
	color:#ffece5;
	margin-left: 10px;
}

.subut:hover{
	background-color: #694b3f;
}

.canbut:hover{
	background-color: #694b3f;
}


