#breweryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.brewery-container01 {
  width: 100%;
}
.brewery-container02 {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
.brewery-card01 {
  width: 100%;
  padding-top: 50px;
  background-color: rgba(233, 236, 239);
}
.breweryButton {
  margin: 50px;
}
.brewery-title {
  border-left: solid 5px gray;
  text-align: left;
  padding: 10px;
  font-size: 15pt;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
table {
  border-spacing: 10px;
  margin: 30px;
}
table tr td {
  width: 150px;
}
.dotted {
  border-bottom: dotted 2px grey;
}
.breweryBody01_img01,
.breweryBody01_img02 {
  width: 300px;
  height: 300px;
}
.breweryBody01_img01 {
  text-align: right;
  margin: 5px;
}
.breweryBody01_img02 {
  vertical-align: bottom;
  margin-bottom: -1px;
  margin: 5px;
}
.breweryBody01_img03 {
  width: 300px;
  height: 300px;
  margin-right: 100px;
}
.breweryBody01_img04 {
  width: 150px;
  height: 150px;
  /* padding: 80px; */
  margin-right: 240px;
}
.brewery-cir {
  margin-top: 70px;
  margin-bottom: 100px;
}
.brewery-cir img {
  background-color: rgba(233, 236, 239);
  border-radius: 200px;
  box-shadow: 1px 1px 6px 1px gray;
}
.brewery-memo {
  width: 100%;
  height: 200px;
  display: flex;
  /* background: linear-gradient(to top, rgba(233, 236, 239), #fff); */
  border-bottom: ridge 5px silver;
  justify-content: right;
  text-align: right;
  flex-direction: column;
}
.brewery-memo div {
  margin-top: 50px;
}
.brewery-title02 {
  border-left: solid 5px gray;
  text-align: left;
  padding: 10px;
  font-size: 15pt;
  font-weight: bold;
  margin-top: 30px;
}
.brewery-card03 {
  display: flex;
  text-align: left;
}
.card03-box {
  display: flex;
  vertical-align: middle;
}
