body {
  margin: 0;
  height: 100%;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 100;
}
/* header 로고 css */
header .logo {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0;
}
header .logo a {
  width: 100%;
  height: 100%;
}
header .logo a img {
  width: 100%;
  height: 100%;
}

/* header 메뉴 css */
header .menu_bar {
  display: flex;
  height: 60px;
  width: 100%;
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
  justify-content: space-evenly;
}
header .menu_bar li {
  list-style: none;
}
header .menu_bar li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

/* header 로그인 css */
header .login {
  width: 240px;
  height: 60px;
  position: absolute;
  right: 0;
}

header .login a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header .login a img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
header .login a span #my_name {
  position: absolute; 
  bottom:15px;
}
header .login #logout_button {
  margin-left: 5em;
  padding: 2px ;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  position: absolute;
  bottom: 10px;
}
header .login #logout_button:hover {
  border-color: gray;
  color: gray;
}

/* 섹션 풀페이지 적용 css */
.section {
  width: 100%;
  margin: 0;
  position: fixed;
}
.section .sect {
  position: relative;
  text-align: center;
  width: 100%;
}
.section #fade1 {
  margin: 0;
}
.section #fade1 li {
  font-size: 0;
  position: absolute;
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 100%;
}
.section #fade1 li img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}
.section #fade1 .fadeImg{
    top: 100px;
    z-index: 10;
    height: 80%;
    position: absolute;
    right: 140px;
}
/*----------기관소개-------------*/

.introduce_total {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.introduce_total .in_item {
  width: 40%;
  height: 100%;
}
/*--introduce이미지 크기조절*/
.in_item img {
  width: 100%;
  height: 100%;
}
/*drink이미지*/
.in_item img:nth-child(2) {
  z-index: 1;
  position: absolute;
  top: 188px;
  left: 40%;
  width: 150px;
  height: 425px;
  opacity: 0.95;
}
/*--비율7인 div영역----*/
.introduce_total .in_item2 {
  width: 60%;
  height: 100%;
}
/*in_item2높이를 i_t1,i_t2각각 9:1로나눔*/
.in_item2 .i_t1 {
  width: 100%;
  height: 90%;
  background-size: contain;
}
/*마우스올릴때 사라지게 하는 div*/
.i_t1 .i_t1_front {
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: rgb(163, 114, 49);
}
.i_t1 .i_t1_front .i_t1_front1 {
  width: 100%;
  height: 100%;
}
.i_t1 .i_t1_front .i_t1_front1 .i_t1_flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
}

@keyframes front {
  20% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.i_t1 .i_t1_front:hover {
  animation: front 1s both;
}

.i_t1 .i_t1_front span {
  font-weight: 900;
  font-size: 50px;
}
.i_t1 .t1_property {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.t1_property div:nth-child(1) {
  margin-top: 40px;
}
.t1_property div:nth-child(2) {
  margin-top: 120px;
}
.t1_property div:nth-child(3) {
  margin-top: 200px;
}

.in_item2 .i_t2 {
  background-color: lightblue;
  width: 100%;
  height: 10%;
}

/* 양조장 코스 01 ( 서울, 경기, 충청) */
#yang01 #yang01-course {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.chi-course01 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
  margin-top: 40px;
}
.chi-course01 #course01-text01 {
  margin-left: auto;
  vertical-align: middle;
  height: 100%;
}
.chi-course01 #course01-image01 {
  height: 100%;
}
.chi-course01 #course01-image01 img {
  width: 280px;
  height: 100%;
}
.chi-course02 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
}
.chi-course02 #course01-text02 {
  margin-right: auto;
  vertical-align: middle;
  height: 100%;
}
.chi-course02 #course01-image02 {
  height: 100%;
}
.chi-course02 #course01-image02 img {
  width: 300px;
  height: 100%;
}
.chi-course03 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
}
.chi-course03 #course01-image03 {
  margin-right: 5%;
  height: 100%;
}
.chi-course03 #course01-text03 {
  margin-left: auto;
  vertical-align: middle;
  height: 100%;
}
.chi-course03 #course01-image03 img {
  width: 300px;
  height: 100%;
}

/* <!--양조장 코스 02 (전라도 ,경상북도, 경상남도)--> */
#yang02 #yang02-course {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.chi-course04 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
  margin-top: 40px;
}
.chi-course04 #course02-text04 {
  margin-right: auto;
  vertical-align: middle;
  height: 100%;
}
.chi-course04 #course02-image04 {
  height: 100%;
}
.chi-course04 #course02-image04 img {
  width: 350px;
  height: 100%;
}
.chi-course05 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
}
.chi-course05 #course02-text05 {
  margin-left: auto;
  vertical-align: middle;
}
.chi-course05 #course02-image05 {
  height: 100%;
}
.chi-course05 #course02-image05 img {
  width: 400px;
  height: 100%;
}
.chi-course06 {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 30%;
}
.chi-course06 #course02-text06 {
  margin-right: auto;
  vertical-align: middle;
}
.chi-course06 #course02-image06 {
  height: 100%;
}
.chi-course06 #course02-image06 img {
  width: 400px;
  height: 100%;
}

/* 광고 css */
.section #footgg {
  display: flex;
  flex-direction: column;
}
.section #footgg #gg {
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
}
.section #footgg #gg #ggone {
  height: 100%;
  z-index: 100;
}
.section #footgg #gg #ggone img {
  height: 100%;
  width: 100%;
}
.section #footgg #gg #ggtwo {
  display: flex;
}
.section #footgg #gg #ggtwo li {
  list-style: none;
}
.section #footgg #gg #ggtwo li img {
  height: 100%;
}

/* footer css */
footer {
  background-color: rgb(201, 154, 67, 0.4);
  width: 100%;
  height: 300px;
}
.FOOTER_TOTAL {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
}
.FOOTER_TOTAL .F_i {
  text-align: center;
}
.F_i2,
.F_i3,
.F_i4 {
  padding-top: 15px;
}
.F_i2 {
  padding-top: 15px;
}
.F_i2 p {
  padding-top: 15px;
}
.F_i #line {
  border-bottom: 3px solid;
}