body {
  margin: 0;
  height: 100%;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 100;
}
/* header 濡쒓퀬 css */
header .logo {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0;
}
header .logo a {
  width: 100%;
  height: 100%;
}
header .logo a img {
  width: 100%;
  height: 100%;
}

/* header 硫붾돱 css */
header .menu_bar {
  display: flex;
  height: 60px;
  margin-left:200px;
  align-items: center;
  justify-content: space-evenly;
}
header .menu_bar li {
  list-style: none;
}
header .menu_bar li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

/* header 濡쒓렇 씤 css */
header .login {
  width: 240px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}
header .login a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header .login a img {
  width: 60px;
  height: 60px;
}
header .login #loginimg {
   position:absolute;
   left:0px;
   top: 5px;
}
header .login #loginimg span #my_name {
  position: absolute; 
  left:50px;
  width: 93px;
  top:20px;
}
header .login #logout_button {
  padding: 2px ;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
header .login #logout_button:hover {
  border-color: gray;
  color: gray;
}
/*  꽮 뀡    럹 씠吏   쟻 슜 css */
.section {
  width: 100%;
  margin: 0;
  position: fixed;
}
.section .sect {
  position: relative;
  width: 100%;
}
.section #fade1 {
  margin: 0;
}
.section #fade1 li {
  font-size: 0;
  position: absolute;
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 100%;
}
.section #fade1 li img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}
.section #fade1 .fadeImg{
    top: 100px;
    z-index: 10;
    height: 80%;
    position: absolute;
    right: 140px;
}
.section #fade1 .fadeImg2 {
	z-index:12;
	height: 50%;
	position: absolute;
	right: 100px;
}
/*----------湲곌��냼媛�-------------*/
.introduce_total {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.introduce_total .in_item {
  width: 40%;
  height: 100%;
}
/*--introduce*/
.in_item #intro {
  width: 100%;
  height: 100%;
}
.in_item #drink {
   width: 150px;
   height: 320px;
}

.in_item img:nth-child(2) {
  z-index: 1;
  position: absolute;
  top: 188px;
  left: 40%;
  width: 200px;
  height: 425px;
  opacity: 0.95;
}
/*--鍮꾩쑉7 씤 div 쁺 뿭----*/
.introduce_total .in_item2 {
  width: 60%;
  height: 100%;
}
/*in_item2 넂 씠瑜  i_t1,i_t2媛곴컖 9:1濡쒕굹 닎*/
.in_item2 .i_t1 {
  width: 100%;
  height: 90%;
  background-size: contain;
}
/*留덉슦 뒪 삱由대븣  궗 씪吏 寃   븯 뒗 div*/
.i_t1 .i_t1_front {
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: #e2e2e2;
}
.i_t1 .i_t1_front .i_t1_front1 {
  width: 100%;
  height: 100%;
}
.i_t1 .i_t1_front .i_t1_front1 .i_t1_flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  line-height : 80px;
  height: 100%;
  width: 60%;
  text-align: center;
}

.i_t1 .i_t1_front .i_t1_front1 .i_t1_flex #pattern{
	margin-top: 80px;
	margin-bottom: 30px;

}
@keyframes front {
  20% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.i_t1 .i_t1_front:hover {
  animation: front 1s both;
}

.i_t1 .i_t1_front span {
  font-weight: 900;
  font-size: 50px;
}
.i_t1 .t1_property {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
}

.i_t1 .t1_property #img1, .i_t1 .t1_property #img2, .i_t1 .t1_property #img3{
	display : flex;
	flex-direction : column;
	margin-top : 22%;
	align-items : center;
	width : 25%;
	height : 350px;
	border: 3px dotted #eedc3e;
	border-radius: 15px;
	font-size: 20px;
}

#bus, #house, #map{
	margin-top: 30px;
	margin-bottom: 30px;
}

.i_t1 .t1_property p{
   text-align: center;
}

.t1_property div:nth-child(1) {
  margin-top: 100px;
}
.t1_property div:nth-child(2) {
  margin-top: 140px;
}
.t1_property div:nth-child(3) {
  margin-top: 180px;
}

.in_item2 .i_t2 {
  background-color: #f2d541;
  width: 100%;
  height: 10%;
  background-size: cover;
}

/* 메인페이지 코스소개 */
#mainBrewery01,
#mainBrewery02,
#mainBrewery03,
#mainBrewery04,
#mainBrewery05,
#mainBrewery06 {
  display: flex;
  justify-content: space-around;
}
#mainBrewery01,
#mainBrewery03,
#mainBrewery05 {
   margin-top:55px;
}
#mainBrewery02,
#mainBrewery04,
#mainBrewery06 {
   margin-bottom:35px;
}

#yang01,
#yang02,
#yang03 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
}

#mainBrewery01, #mainBrewery02, #mainBrewery03, #mainBrewery04, #mainBrewery05, #mainBrewery06 {
   perspective : 500px;
}
.breweryImg01, .breweryImg03, .breweryImg05{
   transform:rotateY(-10deg);
   margin-right: 18%;
   box-shadow: -5px 5px 5px gray;
}

.breweryImg02, .breweryImg04, .breweryImg06{
   transform:rotateY(10deg);
   margin-left: 18%;
   box-shadow: 5px 5px 5px gray;
   
}
.breweryText01, .breweryText03, .breweryText05 {
   margin-left: 20%;
}

.breweryText02, .breweryText04, .breweryText06 {
   margin-right: 20%;
   text-align: right;
}

.breweryText01 h1, .breweryText03 h1, .breweryText05 h1, 
.breweryText02 h1, .breweryText04 h1, .breweryText06 h1{
font-weight: 900;
}
.breweryText01 h4, .breweryText03 h4, .breweryText05 h4, 
.breweryText02 h4, .breweryText04 h4, .breweryText06 h4{
margin-top: 5px;
margin-bottom: 5px;
}

#course_intro{
	color:gray;
	font-weight:bold;
	line-height: 35px;
	font-size:15px;
}

.course_bt1,.course_bt2,.course_bt3,.course_bt4,.course_bt5,.course_bt6{
  border: 2px solid black;
  font-size: 14px;
  color:white;
  background-color:black;
  padding: 8px 25px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;

}

.course_bt1:hover,.course_bt2:hover,.course_bt3:hover,.course_bt4:hover,.course_bt5:hover,.course_bt6:hover{
	background-color: white;
	color:black;
}

/* 愿묎퀬 css */
.section #footgg {
  display: flex;
  flex-direction: column;
}
.section #footgg #gg {
   display: flex;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}
.section #footgg #gg #ggone {
  height: 100%;
  z-index: 100;
}
.section #footgg #gg #ggone img {
  height: 100%;
  width: 100%;
}
.section #footgg #gg #ggtwo {
  display: flex;
  margin-left: 5%;
  overflow: hidden;
}
.section #footgg #gg #ggtwo li {
  list-style: none;
}
.section #footgg #gg #ggtwo li img {
  height: 100%;
}

/* footer css */
footer {
  background-color: #E9D7B4;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
}
.FOOTER_TOTAL {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.FOOTER_TOTAL .F_i {
  text-align: center;
}
.F_i2,
.F_i3,
.F_i4,
.F_i2 p {
  padding-top: 15px;
}
.F_i #line {
  border-bottom: 3px solid;
}